h1 {
    text-align: center;
}

body {
    background-color: black;
    color: silver;
}

nav {
    display: flex;
    flex-direction: column;
}

.menu {
    display: none;
}

.menu-button {
    display: none;
}

.menu-label {
    color: silver;
}

.menu-button:checked + .menu-label + .menu {
    display: block;
    flex-direction: column;
}

